/* font Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* font awsome cdn link */


body {
    font-family: 'Mulish', sans-serif;
}

/* shared styles */
.mark {
    color: #FF5400;
    font-weight: 800;
    font-size: 1.2rem;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    max-width: 174px;
    color: #FFF;
    font-weight: 800;
    border: none;
    padding: 10px 30px;
}

/* header starts */
header {
    display: none;
}

nav {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.logo-title-container img {
    max-width: 48px;
    max-height: 56px;
}

.logo-title {
    font-weight: 800;
    font-size: 2.1rem;

}

.adventure {
    color: #FF5400;
}

ul {
    display: flex;
    /* gap: 30px; */
}

ul li {
    list-style: none;
}

ul li a {
    /* border: 1px solid black; */
    text-decoration: none;
    color: #424247;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 10px;
}

.home {

    color: #FF5400;
}

.visible {
    display: ;
}

.hidden {
    /* display: none; */
    display: none;

}

/* banner starts */
.form>div {
    border: 1px solid black;
    padding: 10px;
}


/* popular section starts */
.popular-tour {
    max-width: 1170px;
    margin: 20px auto;
    display: flex;
    gap: 20px;

}

.popular-tour-content-container {
    max-width: 540px;
}

.popular-tour-content-title {
    font-weight: 800;
    font-size: 2.5rem;
    color: #131318;
}

.popular-tour-description {
    font-size: 1.1rem;
}

.popular-tour-content-places {
    display: flex;
    flex-direction: column;
    font-weight: 400;

}

.popular-tour-img-container img {
    width: 100%;

}

/* choose us section starts here */
.choose-us {
    max-width: 1170px;
    margin: 0 auto;
}

.choose-us-content {
    margin: 0 auto;
    max-width: 643px;
    text-align: center;
}

.choose-us-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.choose-us-description {
    font-weight: 400;
    font-size: 1rem;
}

.card {
    max-width: 573px;
    /* height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
}

.card-icon{
    font-size: 4rem;
    margin: 0;
}

.card-title{
    font-weight: 800;
    font-size: 1.5rem;
}

.card-content{
    font-weight: 400;
    font-size: 1rem;
}

.choose-us-card-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 15px;
    margin-bottom: 30px;
}
#card1{

    grid-column: 1/span 6;
    grid-row: 1/span 2;

}
#card2{

    grid-column: 7/span 12;
    grid-row: 2/span 1;
    background: rgba(41, 206, 246, 0.05);

}
#card3{

    grid-column: 4/span 9;
    grid-row: 3/span 1;
    background: rgba(233, 68, 68, 0.05);


}

/* footer starts */

.footer {
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 100px 335px;
}

/* newsletter starts */

.newsletter {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.newsletter-content-container {
    max-width: 474px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-bottom: 20px;
}

.newsletter-content-title {
    font-weight: 800;
    font-size: 1.5rem;
    color: #131318;
    margin: 20px auto;
}

.newsletter-content-description {
    color: #5A5A5D;
    font-weight: 400;
    font-size: 1rem;

}

.form {
    /* border: none; */
    margin-bottom: 10px;
}

.form>div {
    border: none;
}

.form input[type="text"] {
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.form input[type="email"] {
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.form input[type="submit"] {
    border: none;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

.newsletter-img {
    position: relative;
}

.newsletter-img img {
    width: 100%;
    margin-bottom: 20px;
}

.discount {
    max-width: 324px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 15px 30px;
    position: absolute;
    /* top: 250px; */
    bottom: 65px;
    right: 0;
    transform: rotate(-19.628deg);
}

.discount p {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
}

.discount h4 {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0;
}


/* media query for responsive */

/* for small devices */
@media screen and (max-width:600px) {

    .popular-tour,
    .newsletter {
        flex-direction: column;
    }

    .popular-tour-content-title {
        font-size: 1.4rem;
    }

    .popular-tour-description {
        font-size: 0.9rem;
    }

    .popular-tour-content-places {
        /* padding: 0; */
        font-size: 0.9rem;
        font-weight: 400;
    }

    .primary-btn {
        margin: 20px 0;
        /* padding-left: 0; */
    }


    .footer {
        padding: 50px 15px;
    }

    #card1{
        grid-column: 1/span 12;
        grid-row: 1/span 1;
    }
    #card2{
        grid-column: 1/span 13;
        grid-row: 2/span 1;
    }
    #card3{
        grid-column: 1/span 13;
        grid-row: 3/span 1;
    }

}

